@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');

body {
  margin: 0;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(116.75deg, #BC000D 30%, #F55300 90%);
  color: #4e5e6a;
}

* {
  /*transition: all .1s;*/
  box-sizing: border-box;
}

button {
  font-family: 'Roboto', sans-serif;
}